<h1>ユーザー一覧</h1>

<table>
  <tr>
    <th>User ID</th>
    <th>Password</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td>
      <%= link_to user.username, posts_user_path(user) %>
    </td>
    <td><%= user.password %></td>
    <td><%= link_to 'ユーザーを削除', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Users', new_user_path %>
