
<%= form_tag("/login", :method => "post") do %>
  <%= label_tag(:userid, "ユーザーID") %>
  <%= text_field_tag(:userid)%>
  <%= label_tag(:password, "ぱすわーど") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("ログイン！") %>
<% end %>
