<h1> <%= @username %>の投稿一覧</h1></br>

<% @post_array.each do |post| %>
	<hr>
	<h2>
	<%= link_to post.title, post %>
	</h2>
	<p align = "right">
	<%= post.updated_at %>
	</p>
	<p align = "center">
	<%= post.content %>
	</p>
<% end %>

<%= link_to 'ユーザー一覧', users_path %>
<%= link_to '新着投稿一覧', posts_path %>
