<h1>新着投稿一覧</h1>
<p id="notice"><%= flash[:alert] %></p>
<p id="notice"><%= flash[:notice] %></p>
<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th>Updated Time</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td>
      <%= link_to User.get_user_name(post.user_id), posts_user_path(post.user_id) %>
    </td>
    <td><%= link_to post.title, post %></td>
    <td><%= post.content %></td>
    <td><%= post.updated_at %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '投稿する', new_post_path %>
<%= link_to 'ユーザー一覧', users_path %>

<br />

<% if session[:user_id] %>
  <i><%= User.get_user_name(session[:user_id])%>としてログイン中</i></br>
  <%= link_to 'ログアウトする', :logout %>
<% else %>
ログインしていません
  <%= link_to 'ログインする', :login %>
<% end %>
