<p id="notice"><%= flash[:alert] %></p>
<p id="notice"><%= flash[:notice] %></p>

<h2>
  <%= @post.title %>
</h2>
<p align = "right">
by 
<%= User.get_user_name(@post.user_id) %>
(<%= @post.updated_at %>)
</p>
<p align = "center">
<%= @post.content %>
</p>
<hr>

<% if @is_owner %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<h3>コメント：</h3>
<% @comments.each do |c| %>
  <%
  content = c[0].content
  username = User.get_user_name(c[0].user_id)
  is_owner = c[1]
%>
  <p><b><%= content %></b> by <%= username %>
  <% if is_owner %>
    <%= link_to ' <Destroy>', [c[0].post, c[0]], method: :delete, data: { confirm: 'コメントを削除しますか？' } %>
  <% end %>
  </p>
<% end %>

<%= form_tag(params[:id] + "/comments", :method => "post") do %>
  <div class="field">
    <%= label_tag(:content, "コメント") %><br />
    <%= text_area_tag(:content)%>
  </div>
  <div class="actions">
    <%= submit_tag("コメントする") %>
  </div>
<% end %>

<%= link_to 'Back', posts_path %>
